@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poetsen-One";
  src: url("./../public/Fonts/PoetsenOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("./../public/Fonts/Dosis-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("./../public/Fonts/Dosis-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("./../public/Fonts/Dosis-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("./../public/Fonts/Dosis-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("./../public/Fonts/Dosis-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Dosis";
  src: url("./../public/Fonts/Dosis-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
